* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
}

.blog {
  display: grid;
  grid-template-columns: repeat(3, 45rem);
  gap: 5rem 2rem;
  & div {
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 25px rgba(211, 211, 211, 0.5);
    border: 1px solid hsla(20, 99%, 44%, 0.3);
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, min-content);
    gap: 2rem;
    & img {
      height: 200px;
      width: 100%;
      object-fit: cover;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
    }
    & h2 {
      font-size: 2rem;
    }
    & p {
      font-size: 1.5rem;
    }
    & a {
      text-decoration: none;
      color: white;
      border-radius: 0.7rem;
      background-color: #e04d01;
      font-size: 1.3rem;
      padding: 1rem 2rem;
      justify-self: flex-start;
    }
  }
}
