* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.6;
}

.pricing {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, 25rem);
  /* justify-content: space-between; */
  /* align-content: center; */
  place-content: center space-between;
  height: 100vh;
  & .pricing__table {
    display: grid;
    row-gap: 2rem;
    padding: 2rem;
    border-radius: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    & .pricing__table--name {
      display: grid;
      row-gap: 0.5rem;
      & h3 {
        font-size: 1.5rem;
      }
      & p {
        font-size: 1.3rem;
        color: hsla(0 0% 0% / 0.7);
      }
    }
    & .pricing__table--price {
      display: grid;
      row-gap: 1rem;
      & h2 {
        font-size: 1.5rem;
      }
      & .double-price-component {
        display: grid;
        grid-template-columns: 1fr 3fr;
        & .crossed-price {
          font-size: 2rem;
          color: rgba(0, 0, 0, 0.5);
          text-decoration: line-through 2px solid rgba(0, 0, 0, 0.5);
        }
        & .discount-price {
          font-size: 2rem;
        }
      }
      & p {
        font-size: 1.5rem;
      }
      & a {
        border-radius: 0.5rem;
        color: white;
        padding: 1rem 2rem;
        text-decoration: none;
        font-size: 1.3rem;
        background-color: #251d3a;
      }
      & #current-plan {
        background-color: #2155cd;
      }
    }
    & .pricing__table--features {
      & ul {
        display: grid;
        gap: 1rem 0;
        & li {
          list-style: none;
          font-size: 1.4rem;
          color: rgba(0, 0, 0, 0.5);
          & i {
            padding: 0.5rem;
            margin-right: 1rem;
          }
          & .fa-check {
            color: lightgreen;
            font-size: 1.3rem;
          }
          & .fa-xmark {
            color: lightcoral;
            font-size: 1.3rem;
          }
        }
      }
    }
  }
}
