* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

section {
  display: flex;
  flex-direction: column;
  width: 30rem;
  margin: 2rem auto;
  background-color: #764af1;
  text-align: center;
  color: white;
  gap: 1rem;
  padding: 1.5rem 3rem;
  border-radius: 1rem;
  & div {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    & a {
      text-decoration: none;
      border-radius: 1rem;
      padding: 1rem 2rem;
      flex-basis: 50%;
      &:first-child {
        color: white;
        background-color: #9772fb;
      }
      &:last-child {
        color: #764af1;
        background-color: white;
      }
    }
  }
}
